<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Employee List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col>
        <ion-text>Employee Name</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Employee Email</ion-text>
      </ion-col>

     
      <ion-col>
        <ion-text>Employee Address</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Employee Designation</ion-text>
      </ion-col>

    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>
           Rushikesh
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          rushi@gmail.com
        </ion-text>
      </ion-col>

      

        <ion-col>
          <ion-text>
          pune
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
           manager
          </ion-text>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>
          Rushi
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          rushikesh@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          mumbai
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
           executive office
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          Abhi
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
           abhi@gmail.com
        </ion-text>
      </ion-col>


        <ion-col>
          <ion-text>
          Latur
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Medical Assistant
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
        Ram
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
           ram@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          delhi
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Web Designer
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          John
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          john@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          Bhoom
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            President of Sales
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
           Sham
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          sham@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          Barshi
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Project Manager
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
           shyam
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
            shyam@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
           wagholi
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Copywriter
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
           Radha
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
            radha@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
         pune
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Media Buyer
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          Krushna
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
           Krushna@gmail.com
        </ion-text>
      </ion-col>

      

        <ion-col>
          <ion-text>
           Latur
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Secretary
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
           Deva
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
            deva@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
           mumbai
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Data Entry
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>